    /* main.css: Add and override styles */
    /* .abbr-content {
        text-align: center;
    } */
    
    .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .data-content {
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .ref-content {
        padding-left: 50px;
        padding-right: 50px;
    }
    /* #control-row {
        margin-top: 15px;
        padding: 0px;
    } */
    
    #control-row {
        /* margin-top: 65px; */
        padding-bottom: 20px;
    }
    
    .row-title {
        margin-top: 80px;
    }
    
    h3 {
        text-align: center;
    }
    
    nav {
        font-family: 'Esteban'
    }
    
    .navbar-nav li a:hover {
        color: #fff !important;
    }
    
    .navbar-nav li.active a {
        color: #fff !important;
        background-color: #29292c !important;
    }
    
    .navbar-default .navbar-toggle {
        border-color: transparent;
    }
    
    .abbr-body {
        margin: 50px;
        /* text-align: center; */
        border: 3px solid rgb(0, 128, 128);
    }
    
    .data-body {
        /* margin: 50px; */
        /* text-align: center; */
        border: 3px solid rgb(0, 98, 128);
    }
    
    .ref-body {
        margin-bottom: 50px;
        /* text-align: center; */
        border: 3px solid rgb(0, 128, 128);
    }
    
    table,
    th,
    td {
        /* text-align: center; */
        border: 1px solid rgb(0, 128, 128);
        border-collapse: collapse;
    }
    
    td.border_bottom td {
        border-bottom: 1px solid rgb(0, 128, 128);
    }
    
    #button {
        margin-right: 30px;
    }
    
    #main-title #main-subtitle {
        /* font-family: 'Chelsea Market'; */
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
    
    a {
        cursor: pointer
    }
    
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    /* for centering the title */